body {
  background: #3f3f3f;
}

.slider-container {
  display: flex;
  height: 175px;
  width: 100%;
  margin-top: 50px;
  text-align: center;
  /* overflow-y: hidden; */
}
.drag-scrollview {
  cursor: grab;
  display: flex;
  overflow-x: auto;
  height: 175px;
  align-items: center;
  /* border: 1px solid #ddd; */
}
.drag-scrollview::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.drag-scrollview .item {
  height: 110px;
  min-width: 185px;
  line-height: 110px;
  text-align: center;
  margin-right: 5px;
  border-radius: 8px;
  background-color: #0392ac;
}

.item:hover {
  /* background-color: rgba(rgba(23, 74, 133, 0.678), green, blue, alpha); */
  filter: grayscale(100%);
  transform: scale(1.3);
  box-shadow: 7px 7px 10px #222222;
  transition: 0.5s ease;
}
::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

#container1,
.drag-scrollview,
#container2,
.drag-scrollview,
#container3,
.drag-scrollview browser {
  margin-right: 0px !important;
  margin-bottom: 0px !important;
  overflow-y: hidden;
  overflow-x: hidden;
}

.arrowbutton-l {
  height: 110px;
  /* flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50px;
  overflow: visible; */
  transform: translateX(50px);
  z-index: 2;
  opacity: 0;
  background-image: linear-gradient(
    to right,
    rgb(34, 34, 34),
    rgb(255, 255, 255, 0)
  );
  align-self: center;
}
.arrow {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.arrowbutton-l:hover {
  transition: 0.7s;
  opacity: 0.75;
  cursor: pointer;
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}
.arrowbutton-r {
  right: 0px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50px;
  width: 50px;
  height: 110px;
  transform: translateX(-50px);
  z-index: 2;
  /* background: linear-gradient(-90deg, rgb(71, 71, 71), rgba(112, 112, 112, 0)); */
  opacity: 0;
  background-image: linear-gradient(
    to left,
    rgb(34, 34, 34),
    rgb(255, 255, 255, 0)
  );
  align-self: center;
}
.arrowbutton-r:hover {
  transition: 0.7s;
  opacity: 0.75;
  cursor: pointer;
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.5);
}
